SOAP_Tutorial_Apache_CXF/SOAPClient/src/main/resources/wsdl/fileWS.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://service.app.gaja.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="FileWSImplService" targetNamespace="http://service.app.gaja.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://service.app.gaja.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://service.app.gaja.com/" version="1.0">
			<xs:element name="download" type="tns:download" />
			<xs:element name="downloadResponse"
				type="tns:downloadResponse" />
			<xs:element name="upload" type="tns:upload" />
			<xs:element name="uploadResponse"
				type="tns:uploadResponse" />
			<xs:complexType name="upload">
				<xs:sequence>
					<xs:element minOccurs="0" name="file"
						type="xs:base64Binary" />
					<xs:element minOccurs="0" name="arg1" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="uploadResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="download">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="xs:base64Binary" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="uploadResponse">
		<wsdl:part element="tns:uploadResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadResponse">
		<wsdl:part element="tns:downloadResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="upload">
		<wsdl:part element="tns:upload" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="download">
		<wsdl:part element="tns:download" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FileWS">
		<wsdl:operation name="upload">
			<wsdl:input message="tns:upload" name="upload">
			</wsdl:input>
			<wsdl:output message="tns:uploadResponse"
				name="uploadResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="download">
			<wsdl:input message="tns:download" name="download">
			</wsdl:input>
			<wsdl:output message="tns:downloadResponse"
				name="downloadResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FileWSImplServiceSoapBinding"
		type="tns:FileWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="upload">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="upload">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="uploadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="download">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="download">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="downloadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FileWSImplService">
		<wsdl:port binding="tns:FileWSImplServiceSoapBinding"
			name="FileWSImplPort">
			<soap:address
				location="http://localhost:8080/mtomws/fileWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>