SOAP_Tutorial_Apache_CXF/SOAPClientXMLConfig/src/main/resources/calculator.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://service.app.gaja.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CalculatorService" targetNamespace="http://service.app.gaja.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://service.app.gaja.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://service.app.gaja.com/" version="1.0">
			<xs:element name="add" type="tns:add" />
			<xs:element name="addResponse" type="tns:addResponse" />
			<xs:complexType name="add">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:request" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="request">
				<xs:sequence>
					<xs:element name="num1" type="xs:int" />
					<xs:element name="num2" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:response" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="response">
				<xs:sequence>
					<xs:element name="result" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CalculatorService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add">
			</wsdl:input>
			<wsdl:output message="tns:addResponse" name="addResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorServiceSoapBinding"
		type="tns:CalculatorService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalculatorService">
		<wsdl:port binding="tns:CalculatorServiceSoapBinding"
			name="CalculatorServicePort">
			<soap:address
				location="http://localhost:8080/SOAPProjectXMLConfig/services/addService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>